<% layout('layouts/dashboard-asidebar')%>   

<header>
    <h1>Add your Incomes here</h1>
</header>

<!-- Form to Add Income -->
<div class="container">
    <form class="income-form" method="POST">
        <div class="input-container">
            <label for="IncomeSource">Source of Income</label>
            <input type="text" id="IncomeSource" name="IncomeSource"  placeholder="Enter source of income" required>
        </div>
        <div class="input-container">
            <label for="Amount">Amount</label>
            <input type="text" id="Amount" name="Amount" placeholder="Enter amount" required>
        </div>
        <div class="input-container">
            <label for="Date">Date</label>
            <input type="date" id="Date" name="Date"  required>
        </div>
        <div class="input-container">
            <label for="Remarks">Remarks</label>
            <textarea id="Remarks" name="Remarks" placeholder="Enter remarks" required></textarea>
        </div>
        <button type="submit">Add Income</button>
    </form>
</div>

  
<!-- Table to show the added source of Income Details -->
<header>
    <h1>Your Source of Incomes</h1>
  </header>
    <div class="container">
        <table class="income-table">
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Source of Income</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Remarks</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% Allincomedata.forEach((income,index)=>{ %>

                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= income.SourceOfIncome %></td>
                        <td> <%= income.Amount %></td>
                        <td><%= income.Date.toDateString().slice(0, 15) %></td>
                        <td><%= income.Remarks %></td>
                        <td>
                            <button class="delete-button"><a href="/deleteIncome/<%= income.id %>">Delete</a></button>
                            <button class="edit-button"><a href="Updateincome/<%= income.id %>">Update</a></button>
                        </td>
                    </tr>    
                <% }) %>
            </tbody>         
        </table>
    </div>
 
    <script>
        // Geting the date input field by its id
        const dateInput = document.getElementById('Date');
        
        // Creating a JavaScript Date object for today's date
        const today = new Date();
        
        // Formating the date as YYYY-MM-DD (which is the format the input[type=date] expects)
        const todayFormatted = today.toISOString().split('T')[0];
        
        // Now Setting the default value for the date input field
        dateInput.value = todayFormatted;
    </script>
    




       
      



